body {
  padding: 0;
  margin: 0;
  font-family: Avenir Next Cyr, sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.84);
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dashed #ccc;
  transition: border-bottom 300ms ease-in-out;
  &:hover {
    border-bottom: 1px dashed rgb(53, 53, 53);
  }
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Light.eot");
  src: local("Avenir Next Cyr Light"), local("AvenirNextCyr-Light"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Light.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Light.woff") format("woff"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot");
  src: local("Avenir Next Cyr Regular"), local("AvenirNextCyr-Regular"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot");
  src: local("Avenir Next Cyr Medium"), local("AvenirNextCyr-Medium"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff") format("woff"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot");
  src: local("Avenir Next Cyr Bold"), local("AvenirNextCyr-Bold"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff") format("woff"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot");
  src: local("Avenir Next Cyr Thin"), local("AvenirNextCyr-Thin"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Thin.woff") format("woff"),
    url("assets/fonts/AvenirNextCyr/AvenirNextCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
