.heart {
  cursor: pointer;
  height: 40px;
  width: 80px;
  background-image: url("assets/img/like.png");
  background-position-y: center;
  background-position-x: -15px;
  background-repeat: no-repeat;
  background-size: 2900%;
  padding: 0;
  border: 0;
  background-color: #ffffff00;

  position: absolute;
  right: 5%;
  border-radius: 30px;
  top: 6%;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
  transition: box-shadow 100ms ease-in-out;
  &:active,
  &:focus {
    outline: 0;
  }

  &:hover {
    background-position-y: center;
    background-position-x: calc(100% - 15px);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  &__animate {
    animation: heart-burst 0.8s steps(28) 1;
    background-position-y: center;
    background-position-x: calc(100% - 15px);
  }
}

.counter{

  font-size: 10pt;
  position: relative;
  right: -15px;
  width: 100%;
}

@keyframes heart-burst {
  from {
    background-position-y: center;
    background-position-x: -15px;
  }
  to {
    background-position-y: center;
    background-position-x: calc(100% - 15px);
  }
}
