header {
  height: 150px;
  background: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  img {
    width: 100%;
    max-width: 400px;
  }
  time {
    color: white;
  }
}
